<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Temperature Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<div class="container wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>UUIDs</th>
        </tr>
        </thead>
        <tr th:each="uuid : ${uuids}">
            <td th:text="${uuid}">...</td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>