<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Temperature Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/highcharts/6.1.1/css/highcharts.css"/>

</head>
<body>

<div class="container wrapper">
    <div id="lake-temperatures" style="height: 400px; min-width: 310px"></div>
</div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/highcharts/6.1.1/highcharts.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

    // Setting up the chart
    var chart = new Highcharts.Chart('lake-temperatures', {
        title: {
            text: 'Lake Temperatures'
        },
        yAxis: {
            title: {
                text: 'Temperature'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        xAxis: {
            type: 'datetime'
        },
        series: [{
            name: 'Zürichsee',
            data: []
        }, {
            name: 'Bodensee',
            data: []
        }, {
            name: 'Vierwaldstättersee',
            data: []
        }]
    });

    // This function adds the given data point to the chart
    var appendMeasurementData = function (measurement) {
        chart.series
            .filter(function (serie) {
                return serie.name === measurement.sensorName
            })
            .forEach(function (serie) {
                var shift = serie.data.length > 50;
                serie.addPoint([Date.parse(measurement.time), measurement.temperature], true, shift);
            });
    };

    // The browser connects to the server and receives measurements using Server-Sent Events
    // The measurements are appended to the chart as they're received
    var stockEventSource = new EventSource("/measurements/feed");
    stockEventSource.onmessage = function (e) {
        appendMeasurementData(JSON.parse(e.data));
    };


</script>

</body>
</html>