<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Temperature Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />

</head>
<body>

<div class="container wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Measurements</th>
        </tr>
        </thead>
        <tr th:each="measurement : ${measurements}">
            <td th:text="${measurement}">...</td>
        </tr>
    </table>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

</body>
</html>